.DS_Store
node_modules
es
lib
dist

# tsc build files
*.tsbuildinfo

# compiled output
packages/_react-icons/*
packages/_vue3-icons/*
packages/_vue2-icons/*
packages/twist-icons/build/*

# ide
.vscode
.idea